@using MVC_Web_Proje.Models.classes
@model List<Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün ID</th>
        <th>Ürün Adı</th>
        <th>Markası</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <th>@item.urunID</th>
    <td>@item.urunAdı</td>
    <td>@item.urunMarka</td>
    <td>@item.kategoriID</td>
    <td>@item.urunFiyat</td>
    <td>@item.stok</td>
    <td><a href="~/Urun/Sil/@item.urunID" class="btn btn-danger">Sil</a></td>
    <td><a href="~/Urun/UrunGetir/@item.urunID" class="btn btn-info">Güncele</a></td>
</tr>
    }


</table>
<a href="~/Urun/YeniUrun" class="btn btn-success">Yeni Ürün Ekle</a>


