@model MVC_Web_Proje.Models.classes.Musteriler

@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Güncelle", "Musteri", FormMethod.Post))
{
<div class="form-group">

    @Html.TextBoxFor(x => x.musteriID, new { @class = "form-control", @readonly = true, style = "display:none" })
    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(x => x.musteriAdı, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Soyadı")
    @Html.TextBoxFor(x => x.musteriSoyadı, new { @class = "form-control" })
</div>
    <button class="btn btn-danger">Güncelle</button>
}

